<div class="titulo">
    <h1>Ver mascota</h1>
</div>
<div class="container">
    <mat-card class="mat-card">
        <mat-card-title>
            Karina
        </mat-card-title>
        <mat-card-content>
            <p><strong>Raza:</strong>Labrador</p>
            <p><strong>Color:</strong>Marron</p>
            <p><strong>Peso:</strong>25 kgms</p>
            <p><strong>Edad:</strong>3 años</p>
        </mat-card-content>
         <button routerLink="/listaMascotas" mat-button>Volver</button>
    </mat-card>
</div>